:root {
  --color-primary: #fff;
  --color-secondary: #f0f0f0;
  --color-tertiary: #202C4A;

  --color-link-hover: #E53847;
  --color-link-visited: #8B8B97;

  --color-text-primary: black;

  --color-gradient: linear-gradient(180deg, #62BDFC 0%, #8490FF 100%);
}