:root {
  //font-family
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Sarabun', sans-serif;

  //
  --size-normal: 1rem;
  --size-h1: 2rem;
  --size-h2: 1.5rem;
  --size-h2-span: 2.5rem;
  --size-h3: 1.75rem;
}